.sidenav {
    height: 100%;
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
table,th,td{
    border: 1px solid black;
}
th{
    background-color: cyan;
}
td{
    background-color: lightcyan;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image: url(./pattern.jpg);
    font-family: serif;
    margin: 0px;
    height:100%;
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
a:link{
    text-decoration: none;
}
header {
    background-color: white;
    height: 60px;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    color: blue;
}

a {
    text-decoration: none;
}

section {
    margin-left: 200px;
    margin-right: 200px;
    background-color: lightgoldenrodyellow;
    position: relative;
    top: 100px;
    padding: 20px;
    margin-bottom: 200px;
}
img {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    float: right;
}
.logo{
    padding:0;
    width:200px;
    height:60px;
}
.review{
    padding-bottom: 10px;
}
h1 {
    text-align: center;
}
h3{
    color: purple;
}

article {
    border-bottom: 1px solid lightgrey;
}

h5 {
    text-align: center;
    color: white;
}
footer {
    display:flex;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    justify-content:center;
   align-items:center;
 
}